<nav class="navbar bg-slate-900">
    <div class="sidebar w-64 bg-gray-800 h-full fixed left-0 top-0 overflow-y-auto">
        <ul class="py-4">
            <li>
                <a href="/admin" class="link flex items-center px-6 py-2 text-gray-300">
                    <i class="fas fa-home mr-3"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/users" class="link flex items-center px-6 py-2 text-gray-300">
                    <i class="fas fa-users mr-3"></i>
                    Users
                </a>
            </li>
            <li>
                <a href="/services" class="link flex items-center px-6 py-2 text-gray-300">
                    <i class="fas fa-cogs mr-3"></i>
                    Services
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    function activateLink() {
        var currentUrl = window.location.pathname;
        var links = document.querySelectorAll('.sidebar a');

        // Iteriere über alle Links in der Sidebar
        links.forEach(function(link) {
            // Überprüfe, ob der Link mit dem aktuellen Pfad übereinstimmt
            if (link.getAttribute('href') === currentUrl) {
                link.parentNode.classList.add('active'); // Füge der Eltern-<li> die Klasse "active" hinzu
            }
        });
    }

    window.onload = activateLink;
</script>
